<html>

<head>

<title>Salut de DaP</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{css/dap.css}" href="../static/css/dap.css">

</head>


<body>

<span>Bonjour !</span><span th:text="${maVar}">Gertrude</span>


<!-- TODO lbpmg by Djer |Thymleaf| Ca n'est pas utile d'afficher ce "table" dans le "hellow world" -->

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Token</th> 
    <th>Expire</th>
    <th>Refresh</th>
  </tr>
  <tr>
    <td>bla</td>
    <td>bla</td> 
    <td>bla</td>
    <td>bla</td>
  </tr>
  <tr>
    <td>bla</td>
    <td>bla</td> 
    <td>bla</td>
    <td>bla</td>
  </tr>
  <td>bla</td>
    <td>bla</td> 
    <td>bla</td>
    <td>bla</td>
  <tr>
  </tr>
</table> 

</body>

</html>